.vscode
.idea
node_modules
.DS_Store
.env


# ignore content of uploads folder
Week_3/04_middleware/public/uploads/*
# except one (empty) file to have the folder in version control

!Week_3/04_middleware/public/uploads/.gitkeep

Week_3/04_middleware/Task_2/src/public/uploads/*
# except one (empty) file to have the folder in version control

!Week_3/04_middleware/Task_2/src/public/uploads/.gitkeep

Week_3/05_database/src/public/uploads/*
# except one (empty) file to have the folder in version control

!Week_3/05_database/src/public/uploads/.gitkeep
