.headerbar {
  display: flex;
  align-items: center;
  color: whitesmoke;
  justify-content: space-between;
  padding: 50px;
}

.navbar {
  display: flex;
  justify-content: right;
}

.bar {
  color: whitesmoke;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
}

.bar:hover {
  text-decoration: underline;
  color: whitesmoke;
}

body {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url('assets/restaurant.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  font-family: 'Orbitron', sans-serif;
}

section {
  display: none;
}

section:target {
  display: flex;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.login-section input {
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px;
  font-size: large;
  font-weight: bolder;
  opacity: 80%;
}
.login-section button {
  font-size: large;
  opacity: 70%;
}

.login-section #username-div,
.login-section #password-div {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
}

* {
  outline-style: solid;
  outline-color: red;
}
