* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.headerbar {
  display: flex;
  align-items: center;
  color: whitesmoke;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 50px;
  z-index: 100;
  position: sticky;
}

.navbar {
  display: flex;
}

.bar {
  color: whitesmoke;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  margin: 0 5px;
  transition: all 0.3s ease;
}

.bar:hover {
  color: whitesmoke;
  background-color: rgba(255, 255, 255, 0.1);
}

body {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url('assets/restaurant.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  font-family: 'Orbitron', sans-serif;
}

section {
  display: none;
}

section:target {
  display: block;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.login-section input {
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px;
  font-size: large;
  font-weight: bolder;
  opacity: 80%;
}
.login-section button {
  font-size: large;
  opacity: 70%;
}

.login-section #username-div,
.login-section #password-div {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: flex-start;
}

.restaurant-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#loginButton {
  padding: 4px;
  border-radius: 5px;
}

#loginButton:hover {
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.restaurant-grid {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 300px;
}

@media (max-width: 600px) {
  .headerbar {
    flex-direction: column;
    border-radius: 20px;
    padding: 10px;
  }

  .restaurant-grid {
    grid-template-columns: 1fr;
  }
}
.restaurant-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 15px;
}
.cta-button {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background-color: #fff; /* Tai joku teemaväri */
  color: #000;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
  transition: transform 0.2s ease;
}

.cta-button:hover {
  transform: scale(1.05); /* Nappi "pomppaa" hieman päälle mentäessä */
}
